
.background-main-div{
  background-color: #63738a;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 78px 0px ;
}
.register-heading {
  color: #636363;
}
.body-container{
  background: #f2f3f7;
  border-radius: 12px;
}
.col-for-name, .col-for-Lname, .Email, .Password, .cnf-password, .confirm-password-box, .password-box, .email-box{
  font-size: 18px;
  padding: 8px 0;
  /* border: 1px solid rgb(0, 0, 0); */
}
.submit-btn-div{
  text-align: center;
}
.submit-btn{
  padding: 4px 18px;
}